extends base

block content
    .form__container
        form(class="form form__login" method="POST" action="#")
            h1 #{"Log In"}
            .form__email.form__field
                label(for="email") #{"Users Email Address"}
                input(type="email" id="email" name="email" placeholder="me@example.com" class="form__email-input form__input")

            .form__password.form__field
                label(for="password") #{"Users Password"}
                input(type="password" id="password" name="password" placeholder="*********" class="form__password-input form__input")

            button.btn.btn-submit #{"Log In" }