$color-orange-normal-1: #ff7d1a;
$color-orange-light-1: #ffede0;
$color-orange-light-2: #ffac6a;

$color-blue-dark-1: #1d2025;
$color-blue-dark-2: #68707d;
$color-blue-dark-3: #b6bcc8;
$color-blue-light-1: #f7f8fd;

$color-white: #ffffff;
$color-black-dark-1: rgba(0, 0, 0, 0.75);
