.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 3rem 1.5rem;
  margin: 0 6.4rem;
  border-bottom: 1px solid $color-blue-dark-3;

  &__nav {
    display: flex;
    align-items: center;
    gap: 6.4rem;
  }

  &__user-box {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    margin-right: 3rem;
  }

  &__user {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    img {
      width: 100%;
      border-radius: 50%;
    }

    &:hover {
      outline: 3px solid $color-orange-normal-1;
    }
  }

  &__cart {
    position: relative;
    margin-bottom: -2rem;

    &-img {
      cursor: pointer;
    }
  }

  &__login {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
